.user-msg {
    background-color: lightgray;
    padding: .2em .5em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: white;
    border-radius: 2px;

    .success {
        background-color: $clr1;
    }

    .error {
        background-color: $clr2;
    }
     button {
        font-size: .5em;
        float: right;
        margin: .5em;
    }
}

