.toy-filter {
    background-color: whitesmoke;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid rgb(9, 9, 37);
    border-top: 1px solid rgb(9, 9, 37);

}