.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: var(--clr1bg); */
    margin: 0.5em;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;

}
