.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: var(--clr1bg); */
    margin: 0.5em;
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;

}

.labels-container{
    display: grid;
    grid-auto-flow: column;
}

.labels-container span{
    padding: 5px;
    margin: 3px;

}
.labels-container div{
    margin-bottom: 10px;
}

.Doll{
    background-color: rgb(216, 104, 104);
}

.On-wheels{
    background-color: rgb(27, 214, 27);
}


.Outdoor{
    background-color: rgb(130, 130, 226);
}

.Baby{
    background-color: rgb(255, 20, 255);
}

.Art{
    background-color: peru;
}

.Puzzle{
    background-color: yellow;
}

.Box-game{
    background-color: pink;
}

.Battery-Powered{
    background-color: aquamarine;
}
