.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr1bg);
    margin: 0.5em;
}