
  $clr1: #5f65b4;
  $clr2: #19cbcb;
  $clr3: #2e4646;


  $clr1bg:#e7e7e7 ;
  $clr1bg-light: #c1f1e1;
  $clr2bg: #8271e4;
  $clr2bg-light: #e9d8a6;

  $gray1: rgb(240, 240, 240);
  $gray2: rgb(155, 155, 155);
  $gray3: rgb(44, 44, 44);

  $layoutPadding: 20px;

  // LAYOUT BREAKPOINTS
  $break-narrow: 600px;
  $break-normal: 900px;
  $break-wide: 1120px;
  
  $padded-break-narrow: $break-narrow + $layoutPadding * 2;
  $padded-break-normal: $break-normal + $layoutPadding * 2;
  $padded-break-wide: $break-wide + $layoutPadding * 2;