
  $clr1: #5f65b4;
  $clr2: #19cbcb;

  $clr1bg:#e7e7e7 ;
  $clr1bg-light: #c1f1e1;
  $clr2bg: #8271e4;
  $clr2bg-light: #e9d8a6;

  $gray1: rgb(240, 240, 240);
  $gray2: rgb(155, 155, 155);
  $gray3: rgb(44, 44, 44);

